<div class="container">
  <div class="add_form">
    <h2>Create Account</h2>

    <% if @errors %>
      <ul>
      <% @errors.each do |key,value| %>
        <li><%= "#{key.to_s.capitalize} #{value[0]}" %></li>
      <% end %>
      </ul>
    <% end %>

    <form action="/users" method="post">
      <div class="create_field">
        <label for="">Username</label>
        <input type="text" name="username" value="">
      </div>
      <div class="create_field">
        <label for="">Email</label>
        <input type="text" name="email" value="">
      </div>
      <div class="create_field">
        <label for="">Password</label>
        <input type="password" name="password" value="">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>