* {
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka One', cursive;
  background: url('../images/bg.jpg');
  background: cover;
}

button {
  border-radius: 10px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: purple;
}

h1 {
  /*margin-left: 10px;*/
  font-size: 2em;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  background-color: white; 
}

.highest_rated {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-family: 'Cabin', sans-serif;
}

ul {
  font-family: 'Cabin', sans-serif;
}

.add_form {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.25em;
  padding: 20px;
  font-family: 'Cabin', sans-serif;
}

.add_form h2 {
  font-family: 'Fredoka One', cursive;
}

.add_form button {
  font-size: .75em;
}

.user_option {
  margin-left: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.25em;
  width: 25%;
  text-align: center;
  display: block;

}

.container {
  margin: 20px;
}

header {
  margin: 0 auto;
}

header a {
  display: inline-block;
  margin: 5px 10px 5px 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  text-transform: bold;
  font-size: 1.25em;
  background-color: white;
}

.login_box {
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px 20px;
  padding: 5px;
  background-color: white;
  width: 30%;
  display: inline-block;
}

.login_box button {
  font-size: 1.15em;
}

.top_beers, .top_breweries, .top_users {
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  width: 30vw;
}

.top_beers h1, .top_breweries h1, .top_users h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.top_beers img, .top_breweries img {
  margin: 0 auto;
  display: block;
}

.index_beer, .index_brewery {
  display: block;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  height: 30%;
}

.index_beer img, .index_brewery img {
  height: 80%;
  max-width: 90%;
}

.index_beer p, .index_brewery p {
  font-size: 1.25em;
}

.top_users {
  text-align: center;
  vertical-align: middle;
}

.beer_details {
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  display: block;
  width: 70%;
  background-color: white;
}

.beer_details h1 {
  font-size: 2em;
}

.beer_details li {
  font-size: 1.25em;
}

.beer_details img {
  display: block;
  margin: 20px auto;
}

.details_review p {
  font-size: 1.25em;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 70%;
  margin: 10px auto;
  background-color: white;
}

.reviews_heading {
  font-size: 1.75em;
  width: 70%;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}

.beers_heading {
  font-size: 1.75em;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}

.brewery_details {
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  display: block;
  width: 70%;
  background-color: white;
}

.brewery_details img {
  display: block;
  margin: 20px auto;
}

.brewery_details li {
  font-size: 1.25em;
}

.brewery_details p {
  font-size: 1.25em;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}

.user_details {
  display: inline-block;
  font-size: 1.25em;
  margin: 0 0 0 20px;
}

.logo {
 display: block;
 max-height: 50vh;
}

.logo_details {
  max-height: 50vh;
}

.beer_links {
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  margin: 10px;
}

.create_field {
  margin: 20px;
  font-family: 'Cabin', sans-serif;
}

.new_review {
  display: block;
  margin: 10px;
  font-size: 1.25em;
  background-color: white;
}

.create_account {
  margin: 20px;

}

.beer, .brewery, .review {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  background-color: white;
}

.beer {
 height: 50vh;
}

.beer h2 {
  font-size: 1.75em;
  margin-top: 0;
}

.beer img {
  height: 60%;
  margin: 0 auto;
  display: block;
}

.brewery {
  height: 50vh; 
}

.brewery img {
  max-height: 60%;
  max-width: 100%;
  margin: 0 auto;
} 

.brewery h2 {
  font-size: 1.75em;
}

.review img {
  max-height: 70%;
  max-width: 30%;
}

.review h2 {
  font-size: 1.75em;
}

.review p {
  max-width: 60%;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
  vertical-align: top;
}

.review form {
  font-size: 1.25em;
  display: inline-block;
}

.review button {
  font-size: .75em;
  margin-top: 20px;
}

.review {
  width: 70%;
  display: block;
  margin: 20px auto;
  height: 60vh;
}

.button_box {
  display: block;
}

.button_box button {
  display: inline-block;
}

.button_box form {
  display: inline-block;
}



